@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,600;1,100;1,200;1,300&display=swap');

.header{
font-family: 'Montserrat' !important;
margin:0 !important;
padding: 0 !important;
display: flex !important;
justify-content: space-between !important;


}
.heading1{
  padding-left: 10px !important;
}
.links1{
  display:inline-flex !important;
  padding-right: 10px;
  padding-right: 10px !important;
  justify-content: space-between !important;
  gap:20px !important;
}
.links1:hover{
  cursor: pointer !important;


}
.sign1{
  margin-top: 23px !important;
}
.about1{
  margin-top: 23px !important;
}
.sign1:hover{
  opacity: 0.7 !important;
  
}
.about1:hover{
  opacity: 0.7 !important;
  
}
.button1{
  font-family: 'Montserrat' !important;
  margin-top: 18px !important;
  background-color: rgb(213, 178, 112) !important;
  height: 30px !important;
  border-radius: 5px !important;
  border:none !important;
  margin-right: 50px !important;
  font-weight: bold !important;

}
.button:hover1{
  opacity:0.7 !important;
}