.cards{
    height:300px !important;
    padding:0 !important;
    margin-right: 3%;
    justify-content: center!important;
    align-items: center !important;
    background-color:#f2f2f2;
    border: 2px solid black;
   
    


}